flows.json
[{"id":"f6cfaae9.8ad5f8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"b11ff074.f02e8","type":"inject","z":"f6cfaae9.8ad5f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1160,"wires":[[]]},{"id":"c43c7c62.cea73","type":"debug","z":"f6cfaae9.8ad5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":1220,"wires":[]},{"id":"f2199a5e.574838","type":"inject","z":"f6cfaae9.8ad5f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["23176fc7.f4a6a"]]},{"id":"929e95d0.5debc8","type":"String","z":"f6cfaae9.8ad5f8","name":"","display":"643ae707.b1a74","x":610,"y":240,"wires":[]},{"id":"c909348.3f4d248","type":"change","z":"f6cfaae9.8ad5f8","name":"voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"x\": 1,\t    \"y\": 1,\t    \"text\": payload.('voltage: ' & v & '[V]')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["929e95d0.5debc8"]]},{"id":"b247ec79.da8a48","type":"debug","z":"f6cfaae9.8ad5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"4270cd0b.575204","type":"change","z":"f6cfaae9.8ad5f8","name":"current","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"x\": 1,\t    \"y\": 10,\t    \"text\": payload.('current: ' & c & '[A]')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["929e95d0.5debc8"]]},{"id":"75b46f34.60911","type":"change","z":"f6cfaae9.8ad5f8","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"x\": 1,\t    \"y\": 20,\t    \"text\": payload.('power: ' & p & '[W]')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":280,"wires":[["929e95d0.5debc8"]]},{"id":"23176fc7.f4a6a","type":"ina260-sensor","z":"f6cfaae9.8ad5f8","name":"","address":"0x40","shunt":"0.002","x":280,"y":140,"wires":[["b247ec79.da8a48","c909348.3f4d248","4270cd0b.575204","75b46f34.60911"]]},{"id":"643ae707.b1a74","type":"oled-config","z":"","name":"OLED","width":"128","height":"64","address":"0x3C"}]